* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
   
   
  html,body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}



a {
  text-decoration: none;
}

header {
  display: flex;
  z-index: 5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: rgb(181, 204, 234);
  z-index: 5;
  position: fixed;
}



/* left-sec */
.left-sec {
  display: flex;
  width: 30%;
  align-items: center;
}

#logo {
  width: 20%;
  height: 20%;

} 

#logo-text {
  font-family: cursive;
  font-size: 30px;
}

/* middle-sec */
.middle-sec {
width: 40%;
}

#search {
  width: 70%;
  height: 30px;
  border-radius: 10px;
  
}

#search-btn {
  width: 15%;
  height: 30px;
  border-radius: 10px;
}

/* right-sec */
.right-sec {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.right-sec > a {
  font-family: monospace;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.right-sec2 {
  display: none;
}

/* main-div */
.main-div {
  display: flex;
  justify-content: center;
  position: relative;  
}
.main-div > #hero-img {
  width: 100%;
  height: 100vh;
  /* position: relative; */
  /* box-shadow: 0px 0px 50px rgb(0,0,0, 0.7); */
}

.main-div > #p1 {
position: absolute;
top: 22%;
color: white;
font-family: cursive;
font-size: 70px;
text-shadow: 0px 0px 7px rgb(0,0,0, 0.9);
z-index: 3;
}

.main-div > #p2 {
  position: absolute;
  top: 37%;
  color: white;
  font-family: cursive;
  font-size: 150px;
  text-shadow: 0px 0px 7px rgba(10, 90, 251, 0.9);
  z-index: 3;
}

.main-div > #p3 {
position: absolute;
top: 82%;
color: white;
font-family: cursive;
font-size: 30px;
text-shadow: 0px 0px 7px rgb(0,0,0, 0.9);
z-index: 3;
}

/* .main-div > #marquee {
  position: absolute;
  z-index: 10;
} */
.main-div > #aeroplane-img {
position: absolute;
z-index: 2;
animation: plane 5s linear infinite;
top: 100%;
left: -100px;
rotate: 65deg;
width: 20%;
}

@keyframes plane {
  0% {
    top: 55%;
    left: -100px;
  }
  100% {
    top: -100px;
    left: 100%;
  }
}


/* cards-div */
.cards-div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  width: 100%;
  padding: 10px;
  gap: 20px;
}

/* card */
.card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 5px 10px 10px rgb(0,0,0,0.7);
  padding: 0 0 15px 0;
  background-color: rgb(197, 225, 246);
  /* column-gap: -20px; */
  
  
}

.card > img {
  width: 100%;
  height: 100%;
  /* margin-top: -80px; */
  object-fit: cover;
}

.card > .p1 {
  font-size: 35px;
  /* margin-bottom: 0; */
  margin: 10px 0;
}

.card > .p2 {
  font-size: 22px;
  text-align: center;
  margin: 10px 0;
  /* margin-top: -20px; */
  height: 150px;
}

.card > .p3 {
  font-size: 20px;
  /* margin-top: -50px; */
  margin: 0px 0;
}

.card > .p4 {
  margin: 40px 0;
  /* margin-top: -40px; */
  font-size: 17px;
  text-align: center;
}

.card > a > .button {
  font-size: 20px;
  padding: 10px 55px;
  border-radius: 25px;
  margin: 0px;
  transition: 0.5s ease-in-out;
}

.card > a > .button:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
 
}

 
.card {
  transition: 0.4s ;
}

.card:hover {
  box-shadow: 0px 10px 10px rgb(255, 0, 0);
  border: solid orange 2px;
   transform: scale(0.9);

}

/* footer */
footer {
  position: relative;
  display: flex;
  justify-content: center;
}

footer > img {
  width: 100%;
}

.info-div {
  position: absolute;
  top: 30%;
  text-align: center;
  /* row-gap: 100px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* border: solid red 2px; */
  width: 100%;
}

.info-1 {
text-align: center;
margin-bottom: 150px;
}

.info-1 > .p1 {
  color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: 5rem;
  text-shadow: 0px 0px 7px rgb(0, 1, 2);
}

.info-1 > .p2 {
font-size: 1rem;
}

.info-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10vh;
  /* border: solid red 2px; */
  color: lightyellow;
  font-family: cursive;
}

.info-2 > .d-1 {
  line-height: 40px;
  text-align: center;
}

.info-2 > .d-1 > .p1,.p2 {
  font-size: 1.1rem;
}

/* .info-2 > .d-1,.d-2,.d-3 {
  border: solid red 2px;
} */

.info-2 > .d-2 {
  text-align: center;
  margin-left: 50px;
}

.info-2 > .d-2 > img {
  width: 40%;

}

.info-2 > .d-2 > .p1 {
  font-size: 1.1rem;
  font-family: cursive;
}

.info-2 > .d-3 > .p1 {
  font-size: 1.1rem;
  margin: 25px;
}

.info-2 > .d-3 > .p2 {
  font-size: 0.9rem;
  margin: 25px;
}

.info-2 > .d-3 {
align-items: center;
text-align: center;
}

.info-2 > .d-3 > input {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 70%;
  height: 25px;
  padding: 7px;
  border: none;
  border-radius: 10px;

}

.info-2 > .d-3 > button {
  background-color: white;
  color: black;
  height: 25px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  transition: 0.5s ease; 
}

.info-2 > .d-3 > button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

footer > .copyright {
  font-size: 0.8rem;
  font-family: 'Times New Roman', Times, serif;
  /* margin-top: 90px; */
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 10px;
  
}





/* media-queries */
	@media (min-width: 10px) and (max-width: 767px) {
    header {
  display: flex;
  z-index: 5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: rgb(181, 204, 234);
  z-index: 5;
  position: fixed;
}



/* left-sec */
.left-sec {
  display: flex;
  width: 30%;
  align-items: center;
}

#logo {
  width: 50%;
  height: 20%;

} 

#logo-text {
  font-family: cursive;
  font-size: 30px;
}

/* middle-sec */
.middle-sec {
display: none;
}



/* right-sec */
.right-sec {
  display: none;
}

.right-sec2 {
  display: block;
}

.right-sec2 > details > summary {
display: flex;
justify-content: end;
}

.menu {
  display: block;
  width: 40%;

}

.table-div {
  margin-top: 0px;
  position: absolute;
}

.table {
  background-color: lightblue;

}



/* main-div */
.main-div {
  display: flex;
  justify-content: center;
  position: relative;  
}
.main-div > #hero-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* position: relative; */
  /* box-shadow: 0px 0px 50px rgb(0,0,0, 0.7); */
}

.main-div > #p1 {
position: absolute;
top: 22%;
color: white;
text-align: center;
font-family: cursive;
font-size: 65px;
text-shadow: 0px 0px 7px rgb(0,0,0, 0.9);
z-index: 3;
}

.main-div > #p2 {
  position: absolute;
  top: 45%;
  color: white;
  font-family: cursive;
  font-size: 120px;
  text-shadow: 0px 0px 7px rgba(10, 90, 251, 0.9);
  z-index: 3;
}

.main-div > #p3 {
position: absolute;
top: 82%;
color: white;
font-family: cursive;
font-size: 30px;
text-shadow: 0px 0px 7px rgb(0,0,0, 0.9);
z-index: 3;
}

/* .main-div > #marquee {
  position: absolute;
  z-index: 10;
} */
.main-div > #aeroplane-img {
position: absolute;
z-index: 2;
animation: plane 5s linear infinite;
top: 100%;
left: -100px;
rotate: 55deg;
width: 30%;
}



/* cards-div */
.cards-div {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: auto;
  width: 100%;
  padding: 10px;
  gap: 20px;
  row-gap: 50px;
}

#italy > .p3 {
  margin-top: 30px;
}




/* footer */
footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 77vh;
}

footer > img {
  width: 100%;

}

.info-div {
  position: absolute;
  top: 10%;
  text-align: center;
  /* row-gap: 100px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* border: solid red 2px; */
  width: 100%;
}

.info-1 {
text-align: center;
/* margin-bottom: 150px; */
padding: 7px;
/* border: solid red 2px; */
}

.info-1 > .p1 {
  color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: 4rem;
  text-shadow: 0px 0px 7px rgb(0, 1, 2);
}

.info-1 > .p2 {
font-size: 0.8rem;
}

.info-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: -19vh;
  /* border: solid red 2px; */
  color: lightyellow;
  font-family: cursive;
}

.info-2 > .d-1 {
  display: flex;
  line-height: 40px;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  /* border: solid red 2px; */
}

.info-2 > .d-1 > .p1,.p2 {
  font-size: 1.1rem;
}

/* .info-2 > .d-1,.d-2,.d-3 {
  border: solid red 2px;
} */

.info-2 > .d-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-right: 40px;
  /* margin-left: 50px; */
}

.info-2 > .d-2 > img {
  width: 40%;
}

.info-2 > .d-2 > .p1 {
  display: none;
  font-size: 1.1rem;
  font-family: cursive;
}

.info-2 > .d-3 > .p1 {
  font-size: 1.1rem;
  margin: 25px;
}

.info-2 > .d-3 > .p2 {
  font-size: 0.9rem;
  margin: 25px;
}

.info-2 > .d-3 {
align-items: center;
text-align: center;
}

.info-2 > .d-3 > input {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 70%;
  height: 25px;
  padding: 7px;
  border: none;
  border-radius: 10px;

}

.info-2 > .d-3 > button {
  background-color: white;
  color: black;
  height: 25px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  transition: 0.5s ease; 
}

.info-2 > .d-3 > button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

footer > .copyright {
  font-size: 0.7rem;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 900px;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 10px;
  
}

  } 


